.projects {

    a {
        text-decoration: none;
        color: white;
    }

    .cardProject {
        .description {
            font-size: 1.318vw;
        }

        .card {
            width: 12rem;
            cursor: pointer;
            width: 18.302vw;
            height: 18.302vw;



            .content {
                text-align: center;
                border-radius: 1.098vw;
                position: relative;
                transition: all 1s;
                width: 100%;
                height: 100%;
                // padding: 2%;
                transform-style: preserve-3d;
            }

            &:hover .content {
                transform: rotateY(0.5turn);
            }

            .front {
                svg {
                    font-size: 4.392vw;
                    transform: translateZ(5rem);
                    padding: 4%;
                }
            }



            .front,
            .back {
                position: absolute;
                border-radius: 1.098vw;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                padding: 3%;
                transform-style: preserve-3d;
                backface-visibility: hidden;
                font-size: 1.830vw;
            }

            .title {
                transform: translateZ(5rem);
                // font-size: 2rem;
            }

            .subtitle {
                transform: translateZ(3rem);
                font-weight: bold;
                margin: 0;
                padding: 5%;
                display: flex;
                justify-content: center;
                gap: 5%;
            }

            .back {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                transform: rotateY(0.5turn);
                background-color: $redButton;
                padding: 1%;

                svg {
                    font-size: 2.196vw;
                    transform: translateZ(5rem);
                    // padding: 3%;
                }
            }

            // .description {
            //     transform: translateZ(2rem);
            //     margin: 2%;
            // }
        }

        button {
            display: flex;
            justify-content: center;
            margin: 1%;
            // margin-top: 4%;
            font-size: 1.098vw;
            font-family: inherit;
            font-weight: 700;
            padding: 0.293vw;
            border-radius: 1.464vw;
            border: none;
            color: white;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 1.464vw 1.830vw -0.366vw, rgba(0, 0, 0, 0.04) 0px 0.732vw 0.732vw -0.366vw;
            background: $redButton;
        }

        button .button-content {
            display: flex;
            align-items: center;
            // background: white;
            padding: 0.586vw 1.025vw;
            padding-left: 0.732vw;
            border-radius: 1.171vw;
        }

        button svg {
            width: 1.611vw;
            height: 1.611vw;
            margin-right: 0.439vw;
            color: white;
            transition: transform 0.3s;
        }

        button:hover svg {
            transform: scale(1.2);
        }
    }
}