.skills {
    .icon {
        color: white;
        padding-top: 60%;

        svg {
            width: 7.321vw;
            height: 7.321vw;
        }

        &:hover {
            color: $redButton;
        }
    }
}