.skills {
    background: url(/src/images/backgroundArcade1.png) center /cover no-repeat;
    .icon {
        color: white;
        padding-top: 60%;

        svg {
            width: 7.321vw;
            height: 7.321vw;
        }

        &:hover {
            color: $redButton;
        }
    }
}