.contact {
    // background-color: rgb(43, 43, 43);
    background: url(/src/images/backgroundContact.png) center center/cover no-repeat;
    padding-right: 35%;

    .contactTitle {
        width: 70%;
    }

    .form {
        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1.464vw;

            .button {
                background-color: $redButton;
                font-size: 1.098vw;
            }
        }
    }

    label {
        color: white;
        font-family: 'Fira Code', monospace !important;
        font-weight: bold;
        font-size: 1.171vw;
    }

    .input {
        width: 70%;
        border: none;

        input,
        textarea {
            color: white;
            font-family: 'Fira Code', monospace !important;
        }

        &:hover {
            color: white;
        }
    }
}