@import 'colors.scss';
@import './components/navbar/navbar.scss';
@import './components/aboutMe/aboutMe.scss';
@import './components/skills/skills.scss';
@import './components/projects/projects.scss';
@import './components/contact/contact.scss';
@import './components/footer/footer.scss';

.App {
    // min-height: 300vh;
    overflow-x: hidden;
    background-color: rgb(54, 55, 73);
    .background {
        background: url(/src/images/background1.png) center center/cover no-repeat;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    font-family: 'Fira Code',
    monospace;
}

html {
    font-family: 'Fira Code', monospace;
    color: white;
    scroll-behavior: smooth;

    a,
    p {
        font-family: 'Fira Code', monospace;
    }

    h1 {
        font-size: 1.830vw;
    }

    h5 {
        font-size: 0.952vw;
    }
}