.navbarAnimation {
  overflow: hidden;
  width: 100%;
  z-index: 100; }
  .navbarAnimation .navbar {
    background-color: #07182E;
    margin-top: 0.5%; }
    .navbarAnimation .navbar a,
    .navbarAnimation .navbar p {
      color: white;
      text-decoration: none;
      font-weight: bold;
      font-size: 20px; }
    .navbarAnimation .navbar .active {
      color: #e55554; }
    .navbarAnimation .navbar .progressMainWrapper {
      background-color: #2b264c;
      height: 0.512vw;
      position: sticky;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%; }
    .navbarAnimation .navbar .progressMainStyle {
      height: 0.512vw;
      background-color: #e55554; }

@media screen and (max-width: 1366px) {
  .navbarAnimation .navbar a,
  .navbarAnimation .navbar p {
    font-size: 1.464vw; } }

@media screen and (max-width: 700px) {
  .navbarAnimation .navbar a,
  .navbarAnimation .navbar p {
    font-size: 1.464vh; }
  .navbarAnimation .navbar .progressMainWrapper {
    height: 0.512vh; }
  .navbarAnimation .navbar .progressMainStyle {
    height: 0.512vh; } }

.aboutMe {
  padding-top: 0.5%;
  /* From uiverse.io by @mrhyddenn */ }
  .aboutMe p {
    font-family: 'Fira Code', monospace; }
  .aboutMe .name {
    font-size: 25px;
    font-weight: 500;
    margin: 1%;
    margin-top: 3%;
    width: 6.149vw;
    height: 6.149vw; }
  .aboutMe .text {
    font-size: 20px;
    margin: 1% 5% 0 5%;
    text-align: center; }
  .aboutMe .myName {
    color: #e55554;
    font-weight: 800; }
  .aboutMe .cardAndContainer {
    width: 100%; }
  .aboutMe .download {
    margin: 1%;
    width: 30%; }
    .aboutMe .download a {
      text-decoration: none;
      color: #fff; }
    .aboutMe .download button,
    .aboutMe .download button::after {
      padding: 0.732vw 1.464vw;
      font-size: 18px;
      background: linear-gradient(45deg, transparent 5%, #e55554 5%);
      border: 0;
      letter-spacing: 0.220vw;
      line-height: 1;
      box-shadow: 0.439vw 0px 0px #07182E;
      outline: transparent;
      position: relative;
      cursor: pointer;
      font-family: 'Fira Code', monospace; }
    .aboutMe .download button::after {
      --slice-0: inset(50% 50% 50% 50%);
      --slice-1: inset(80% -0.439vw 0 0);
      --slice-2: inset(50% -0.439vw 30% 0);
      --slice-3: inset(10% -0.439vw 85% 0);
      --slice-4: inset(40% -0.439vw 43% 0);
      --slice-5: inset(80% -0.439vw 5% 0);
      content: "HOVER ME";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(45deg, transparent 3%, #07182E 3%, #07182E 5%, #e55554 5%);
      text-shadow: -0.22vw -0.22vw 0px #ffa600, 0.22vw 0.22vw 0px #07182E;
      clip-path: var(--slice-0);
      animation: 2s glitch infinite;
      animation-timing-function: steps(2, end); }
    .aboutMe .download button:hover::after {
      animation: 1s glitch;
      animation-timing-function: steps(2, end); }

@keyframes glitch {
  0% {
    clip-path: var(--slice-1);
    transform: translate(-1.464vw, -0.732vw); }
  10% {
    clip-path: var(--slice-3);
    transform: translate(0.732vw, 0.732vw); }
  20% {
    clip-path: var(--slice-1);
    transform: translate(-0.732vw, 0.732vw); }
  30% {
    clip-path: var(--slice-3);
    transform: translate(0px, 0.366vw); }
  40% {
    clip-path: var(--slice-2);
    transform: translate(-0.366vw, 0px); }
  50% {
    clip-path: var(--slice-3);
    transform: translate(0.366vw, 0px); }
  60% {
    clip-path: var(--slice-4);
    transform: translate(0.366vw, 0.732vw); }
  70% {
    clip-path: var(--slice-2);
    transform: translate(-0.732vw, 0.732vw); }
  80% {
    clip-path: var(--slice-5);
    transform: translate(1.464vw, -0.732vw); }
  90% {
    clip-path: var(--slice-1);
    transform: translate(-0.732vw, 0px); }
  100% {
    clip-path: var(--slice-1);
    transform: translate(0); } }
  .aboutMe .scanner h1 {
    color: transparent;
    font-size: 22.5px;
    position: relative;
    overflow: hidden; }
  .aboutMe .scanner h1::before {
    content: attr(contentCss);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 0.293vw solid white;
    overflow: hidden;
    color: white;
    animation: load91371 3s linear infinite; }

@keyframes load91371 {
  0%,
  10%,
  100% {
    width: 0; }
  10%,
  20%,
  30%,
  40%,
  50%,
  60%,
  70%,
  80%,
  90%,
  100% {
    border-right-color: transparent; }
  11%,
  21%,
  31%,
  41%,
  51%,
  61%,
  71%,
  81%,
  91% {
    border-right-color: white; }
  60%,
  80% {
    width: 100%; } }
  .aboutMe .card {
    margin-left: 10%;
    width: 14.641vw;
    height: 17.302vw;
    background: #07182E;
    border-radius: 0.366vw;
    text-align: center;
    color: #f0f0f0;
    font-family: 'Fira Code', monospace;
    z-index: 1;
    padding-top: 0.5%; }
    .aboutMe .card .img {
      display: flex;
      margin: 2.196vw auto 0.732vw auto;
      width: 5.490vw;
      height: 5.490vw;
      border: 0.073vw solid #f0f0f0;
      border-radius: 50%;
      font-size: 11px;
      justify-content: center;
      align-items: center;
      transition: all 0.5s;
      z-index: 99;
      background-color: #07182E; }
    .aboutMe .card p {
      opacity: 0;
      transition: all 0.5s; }
    .aboutMe .card h1 {
      padding: 0.366vw;
      font-weight: 500;
      font-size: 18px;
      margin: 0; }
    .aboutMe .card h5 {
      padding: 0;
      margin: 0;
      color: gray;
      font-size: 13px; }
    .aboutMe .card svg {
      padding: 0 0.366vw;
      cursor: pointer; }
  .aboutMe .card:hover .img {
    transform: scale(1.1);
    border: 0.073vw solid #f0f0f0; }
  .aboutMe .card:hover h1,
  .aboutMe .card:hover p {
    opacity: 1; }
  .aboutMe .container {
    font-size: 20.2px;
    margin: 0 3% 0 3%; }
    .aboutMe .container .terminal_toolbar {
      display: flex;
      height: 2.196vw;
      align-items: center;
      padding: 0 0.586vw;
      box-sizing: border-box;
      border-top-left-radius: 0.366vw;
      border-top-right-radius: 0.366vw;
      background: linear-gradient(#504b45 0%, #3c3b37 100%); }
    .aboutMe .container .butt {
      display: flex;
      align-items: center; }
    .aboutMe .container .btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin-right: 0.366vw;
      height: 0.878vw;
      width: 0.878vw;
      box-sizing: border-box;
      border: none;
      border-radius: 100%;
      background: linear-gradient(#7d7871 0%, #595953 100%);
      text-shadow: 0px 0.073vw 0px rgba(255, 255, 255, 0.2);
      box-shadow: 0px 0px 0.073vw 0px #41403A, 0px 0.073vw 0.073vw 0px #474642; }
    .aboutMe .container .btn-color {
      background: #ee411a; }
    .aboutMe .container .btn:hover {
      cursor: pointer; }
    .aboutMe .container .btn:focus {
      outline: none; }
    .aboutMe .container .butt--exit {
      background: linear-gradient(#f37458 0%, #de4c12 100%); }
    .aboutMe .container .user {
      color: #d5d0ce;
      margin-left: 0.439vw;
      font-size: 14px;
      line-height: 1.098vw; }
    .aboutMe .container .terminal_body {
      background: #07182E;
      height: calc(100% - 2.196vw);
      padding-top: 0.146vw;
      margin-top: -0.073vw;
      border-bottom-left-radius: 0.366vw;
      border-bottom-right-radius: 0.366vw; }
    .aboutMe .container .terminal_promt {
      display: flex; }
    .aboutMe .container .terminal_promt span {
      margin-left: 0.293vw; }
    .aboutMe .container .terminal_user {
      color: #7eda28; }
    .aboutMe .container .terminal_location {
      color: #4878c0; }
    .aboutMe .container .terminal_bling {
      color: #dddddd;
      padding-right: 1%; }
    .aboutMe .container .terminal_cursor {
      display: block;
      height: 1.430vw;
      width: 0.732vw;
      margin-left: 0.732vw;
      animation: curbl 1200ms linear infinite;
      margin-bottom: 1%; }

@keyframes curbl {
  0% {
    background: #ffffff; }
  49% {
    background: #ffffff; }
  60% {
    background: transparent; }
  99% {
    background: transparent; }
  100% {
    background: #ffffff; } }
  .aboutMe .switch {
    padding: 0% 5% 0 5%;
    /* Switch starts here */
    /* Keyboard Users */ }
    .aboutMe .switch .rocker {
      display: inline-block;
      position: relative;
      /*
    SIZE OF SWITCH
    ==============
    All sizes are in em - therefore
    changing the font-size here
    will change the size of the switch.
    See .rocker-small below as example.
    */
      font-size: 32px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      color: #888;
      width: 8.199vw;
      height: 4.100vw;
      overflow: hidden;
      border-bottom: 0.586vw solid #eee; }
    .aboutMe .switch .rocker-small {
      font-size: 13px;
      /* Sizes the switch */ }
    .aboutMe .switch .rocker::before {
      content: "";
      position: absolute;
      top: 0.586vw;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #999;
      border: 0.586vw solid #eee;
      border-bottom: 0; }
    .aboutMe .switch .rocker input {
      opacity: 0;
      width: 0;
      height: 0; }
    .aboutMe .switch .switch-left,
    .aboutMe .switch .switch-right {
      cursor: pointer;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 2.928vw;
      width: 3.514vw;
      transition: 0.2s;
      user-select: none; }
    .aboutMe .switch .switch-left {
      height: 2.811vw;
      width: 3.221vw;
      left: 0.996vw;
      bottom: 0.469vw;
      background-color: #ddd;
      transform: rotate(15deg) skewX(15deg); }
    .aboutMe .switch .switch-right {
      right: 0.586vw;
      bottom: 0;
      background-color: #cd0d2d;
      color: #fecb00; }
    .aboutMe .switch .switch-left::before,
    .aboutMe .switch .switch-right::before {
      content: "";
      position: absolute;
      width: 0.469vw;
      height: 2.870vw;
      bottom: -0.527vw;
      background-color: #ccc;
      transform: skewY(-65deg); }
    .aboutMe .switch .switch-left::before {
      left: -0.469vw; }
    .aboutMe .switch .switch-right::before {
      right: -0.439vw;
      background-color: transparent;
      transform: skewY(65deg); }
    .aboutMe .switch input:checked + .switch-left {
      background-color: #0b4c82;
      color: #ff6f80;
      bottom: 0px;
      left: 0.586vw;
      height: 2.928vw;
      width: 3.514vw;
      transform: rotate(0deg) skewX(0deg); }
    .aboutMe .switch input:checked + .switch-left::before {
      background-color: transparent;
      width: 3.611vw; }
    .aboutMe .switch input:checked + .switch-left + .switch-right {
      background-color: #ddd;
      color: #888;
      bottom: 0.469vw;
      right: 0.937vw;
      height: 2.811vw;
      width: 3.221vw;
      transform: rotate(-15deg) skewX(-15deg); }
    .aboutMe .switch input:checked + .switch-left + .switch-right::before {
      background-color: #ccc; }
    .aboutMe .switch input:focus + .switch-left {
      color: #333; }
    .aboutMe .switch input:checked:focus + .switch-left {
      color: #ff6f80; }
    .aboutMe .switch input:focus + .switch-left + .switch-right {
      color: #fecb00; }
    .aboutMe .switch input:checked:focus + .switch-left + .switch-right {
      color: #333; }

@media screen and (max-width: 1366px) {
  .aboutMe .name {
    font-size: 1.830vw; }
  .aboutMe .text {
    font-size: 1.430vw; }
  .aboutMe .download button,
  .aboutMe .download button::after {
    font-size: 1.318vw; }
  .aboutMe .scanner h1 {
    font-size: 1.640vw; }
  .aboutMe .card .img {
    font-size: 0.805vw; }
  .aboutMe .card h1 {
    font-size: 1.318vw; }
  .aboutMe .card h5 {
    font-size: 0.952vw; }
  .aboutMe .container {
    font-size: 1.480vw; }
    .aboutMe .container .user {
      font-size: 1.025vw; }
  .aboutMe .switch .rocker {
    font-size: 2.343vw; }
  .aboutMe .switch .rocker-small {
    font-size: 0.937vw; } }

@media screen and (max-width: 700px) {
  .aboutMe {
    /* From uiverse.io by @mrhyddenn */ }
    .aboutMe .cardAndContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10%; }
    .aboutMe .name {
      font-size: 1.830vh;
      width: 6.149vh;
      height: 6.149vh; }
    .aboutMe .text {
      font-size: 1.430vh; }
    .aboutMe .download button,
    .aboutMe .download button::after {
      margin-bottom: 10%;
      padding: 0.732vh 1.464vh;
      font-size: 1.318vh;
      letter-spacing: 0.220vh;
      box-shadow: 0.439vh 0px 0px #07182E; }
    .aboutMe .download button::after {
      --slice-0: inset(50% 50% 50% 50%);
      --slice-1: inset(80% -0.439vh 0 0);
      --slice-2: inset(50% -0.439vh 30% 0);
      --slice-3: inset(10% -0.439vh 85% 0);
      --slice-4: inset(40% -0.439vh 43% 0);
      --slice-5: inset(80% -0.439vh 5% 0);
      text-shadow: -0.22vh -0.22vh 0px #ffa600, 0.22vh 0.22vh 0px #07182E; }
  @keyframes glitch {
    0% {
      transform: translate(-1.464vh, -0.732vh); }
    10% {
      transform: translate(0.732vh, 0.732vh); }
    20% {
      transform: translate(-0.732vh, 0.732vh); }
    30% {
      transform: translate(0px, 0.366vh); }
    40% {
      transform: translate(-0.366vh, 0px); }
    50% {
      transform: translate(0.366vh, 0px); }
    60% {
      transform: translate(0.366vh, 0.732vh); }
    70% {
      transform: translate(-0.732vh, 0.732vh); }
    80% {
      transform: translate(1.464vh, -0.732vh); }
    90% {
      transform: translate(-0.732vh, 0px); }
    100% {
      transform: translate(0); } }
    .aboutMe .scanner h1 {
      font-size: 1.640vh; }
    .aboutMe .scanner h1::before {
      border-right: 0.293vh solid white; }
    .aboutMe .card {
      width: 14.641vh;
      height: 17.302vh;
      border-radius: 0.366vh; }
      .aboutMe .card .img {
        margin: 2.196vh auto 0.732vh auto;
        width: 5.490vh;
        height: 5.490vh;
        border: 0.073vh solid #f0f0f0;
        font-size: 0.805vh; }
      .aboutMe .card h1 {
        padding: 0.366vh;
        font-size: 1.318vh; }
      .aboutMe .card h5 {
        font-size: 0.952vh; }
      .aboutMe .card svg {
        padding: 0 0.366vh; }
    .aboutMe .card:hover .img {
      border: 0.073vh solid #f0f0f0; }
    .aboutMe .containerFather {
      max-width: 95%; }
    .aboutMe .container {
      margin: 3% 0 3% 0;
      font-size: 1.480vh; }
      .aboutMe .container .terminal_toolbar {
        height: 2.196vh;
        padding: 0 0.586vh;
        border-top-left-radius: 0.366vh;
        border-top-right-radius: 0.366vh; }
      .aboutMe .container .btn {
        margin-right: 0.366vh;
        height: 0.878vh;
        width: 0.878vh;
        text-shadow: 0px 0.073vh 0px rgba(255, 255, 255, 0.2);
        box-shadow: 0px 0px 0.073vh 0px #41403A, 0px 0.073vh 0.073vh 0px #474642; }
      .aboutMe .container .user {
        margin-left: 0.439vh;
        font-size: 1.025vh;
        line-height: 1.098vh; }
      .aboutMe .container .terminal_body {
        height: calc(100% - 2.196vh);
        padding-top: 0.146vh;
        margin-top: -0.073vh;
        border-bottom-left-radius: 0.366vh;
        border-bottom-right-radius: 0.366vh; }
      .aboutMe .container .terminal_promt span {
        margin-left: 0.293vh; }
      .aboutMe .container .terminal_cursor {
        height: 1.430vh;
        width: 0.732vh;
        margin-left: 0.732vh; }
    .aboutMe .switch .rocker {
      font-size: 2.343vh;
      width: 8.199vh;
      height: 4.100vh;
      border-bottom: 0.586vh solid #eee; }
    .aboutMe .switch .rocker-small {
      font-size: 0.937vh; }
    .aboutMe .switch .rocker::before {
      top: 0.586vh;
      border: 0.586vh solid #eee; }
    .aboutMe .switch .switch-left,
    .aboutMe .switch .switch-right {
      height: 2.928vh;
      width: 3.514vh; }
    .aboutMe .switch .switch-left {
      height: 2.811vh;
      width: 3.221vh;
      left: 0.996vh;
      bottom: 0.469vh; }
    .aboutMe .switch .switch-right {
      right: 0.586vh; }
    .aboutMe .switch .switch-left::before,
    .aboutMe .switch .switch-right::before {
      width: 0.469vh;
      height: 2.870vh;
      bottom: -0.527vh; }
    .aboutMe .switch .switch-left::before {
      left: -0.469vh; }
    .aboutMe .switch .switch-right::before {
      right: -0.439vh; }
    .aboutMe .switch input:checked + .switch-left {
      left: 0.586vh;
      height: 2.928vh;
      width: 3.514vh; }
    .aboutMe .switch input:checked + .switch-left::before {
      width: 3.611vh; }
    .aboutMe .switch input:checked + .switch-left + .switch-right {
      bottom: 0.469vh;
      right: 0.937vh;
      height: 2.811vh;
      width: 3.221vh; } }

.skills {
  background: url(/src/images/backgroundArcade1.png) center/cover no-repeat; }
  .skills h1 {
    font-size: 24px; }
  .skills .icon {
    color: white;
    padding-top: 60%; }
    .skills .icon svg {
      width: 7.321vw;
      height: 7.321vw; }
    .skills .icon:hover {
      color: #e55554; }

@media screen and (max-width: 1366px) {
  .skills h1 {
    font-size: 1.757vw; } }

@media screen and (max-width: 700px) {
  .skills h1 {
    font-size: 1.757vh; }
  .skills .icon svg {
    width: 7.321vh;
    height: 7.321vh; } }

.projects h1 {
  font-size: 24px; }

.projects a {
  text-decoration: none;
  color: white; }

.projects .cardProject .description {
  font-size: 18px; }

.projects .cardProject .card {
  width: 12rem;
  cursor: pointer;
  width: 18.302vw;
  height: 18.302vw; }
  .projects .cardProject .card .content {
    text-align: center;
    border-radius: 1.098vw;
    position: relative;
    transition: all 1s;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d; }
  .projects .cardProject .card:hover .content {
    transform: rotateY(0.5turn); }
  .projects .cardProject .card .front svg {
    font-size: 60px;
    transform: translateZ(5rem);
    padding: 4%; }
  .projects .cardProject .card .front,
  .projects .cardProject .card .back {
    position: absolute;
    border-radius: 1.098vw;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 3%;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    font-size: 25px; }
  .projects .cardProject .card .title {
    transform: translateZ(5rem); }
  .projects .cardProject .card .subtitle {
    transform: translateZ(3rem);
    font-weight: bold;
    margin: 0;
    padding: 5%;
    display: flex;
    justify-content: center;
    gap: 5%; }
  .projects .cardProject .card .back {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transform: rotateY(0.5turn);
    background-color: #e55554;
    padding: 1%; }
    .projects .cardProject .card .back svg {
      font-size: 30px;
      transform: translateZ(5rem); }

.projects .cardProject button {
  display: flex;
  justify-content: center;
  margin: 1%;
  font-size: 15px;
  font-family: inherit;
  font-weight: 700;
  padding: 0.293vw;
  border-radius: 1.464vw;
  border: none;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1.464vw 1.83vw -0.366vw, rgba(0, 0, 0, 0.04) 0px 0.732vw 0.732vw -0.366vw;
  background: #e55554; }

.projects .cardProject button .button-content {
  display: flex;
  align-items: center;
  padding: 0.586vw 1.025vw;
  padding-left: 0.732vw;
  border-radius: 1.171vw; }

.projects .cardProject button svg {
  width: 1.611vw;
  height: 1.611vw;
  margin-right: 0.439vw;
  color: white;
  transition: transform 0.3s; }

.projects .cardProject button:hover svg {
  transform: scale(1.2); }

@media screen and (max-width: 1366px) {
  .projects h1 {
    font-size: 1.757vw; }
  .projects .cardProject .description {
    font-size: 1.318vw; }
  .projects .cardProject .card .front svg {
    font-size: 4.392vw; }
  .projects .cardProject .card .front,
  .projects .cardProject .card .back {
    font-size: 1.830vw; }
  .projects .cardProject .card .back svg {
    font-size: 2.196vw; }
  .projects .cardProject button {
    font-size: 1.098vw; } }

@media screen and (max-width: 700px) {
  .projects .cardProjectContainer {
    display: flex;
    flex-direction: column;
    gap: 30px; }
  .projects h1 {
    font-size: 1.757vh; }
  .projects .cardProject {
    display: flex;
    flex-direction: column; }
    .projects .cardProject .cardDescription {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 100%; }
      .projects .cardProject .cardDescription .description {
        font-size: 1.318vh;
        text-align: center !important; }
      .projects .cardProject .cardDescription .cardButtons {
        display: flex;
        justify-content: center !important; }
    .projects .cardProject .card {
      width: 18.302vh;
      height: 18.302vh; }
      .projects .cardProject .card .content {
        border-radius: 1.098vh; }
      .projects .cardProject .card .front svg {
        font-size: 4.392vh; }
      .projects .cardProject .card .front,
      .projects .cardProject .card .back {
        border-radius: 1.098vh;
        font-size: 1.830vh; }
      .projects .cardProject .card .back svg {
        font-size: 2.196vh; }
    .projects .cardProject button {
      font-size: 1.098vh;
      padding: 0.293vh;
      border-radius: 1.464vh;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1.464vh 1.83vh -0.366vh, rgba(0, 0, 0, 0.04) 0px 0.732vh 0.732vh -0.366vh; }
    .projects .cardProject button .button-content {
      padding: 0.586vh 1.025vh;
      padding-left: 0.732vh;
      border-radius: 1.171vh; }
    .projects .cardProject button svg {
      width: 1.611vh;
      height: 1.611vh;
      margin-right: 0.439vh; }
    .projects .cardProject button:hover svg {
      transform: scale(1.2); }
  .projects .cardProjectReverse {
    display: flex;
    flex-direction: column-reverse; } }

.contact {
  background: url(/src/images/backgroundContact.png) center center/cover no-repeat;
  padding-right: 35%; }
  .contact .contactTitle {
    width: 70%; }
    .contact .contactTitle h1 {
      font-size: 24px; }
  .contact .form form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.464vw; }
    .contact .form form .button {
      background-color: #e55554;
      font-size: 15px; }
  .contact label {
    color: white;
    font-family: 'Fira Code', monospace !important;
    font-weight: bold;
    font-size: 16px; }
  .contact .input {
    width: 70%;
    border: none; }
    .contact .input input,
    .contact .input textarea {
      color: white;
      font-family: 'Fira Code', monospace !important; }
    .contact .input:hover {
      color: white; }

@media screen and (max-width: 1366px) {
  .contact .contactTitle h1 {
    font-size: 1.757vw; }
  .contact .form form .button {
    font-size: 1.098vw; }
  .contact label {
    font-size: 1.171vw; } }

@media screen and (max-width: 700px) {
  .contact {
    padding-right: 0; }
    .contact .contactTitle h1 {
      font-size: 1.757vh; }
    .contact .form form {
      gap: 1.464vh; }
      .contact .form form .button {
        font-size: 1.098vh; }
    .contact label {
      font-size: 1.171vh; } }

.footer {
  background-color: #333333;
  padding: 4%;
  padding-bottom: 1%;
  gap: 2.196vw; }
  .footer .social {
    gap: 3.660vw; }
    .footer .social svg {
      font-size: 50px;
      transition: all .2s ease-in; }
      .footer .social svg:hover {
        transform: translateY(-0.366vw); }
  .footer .backToTop svg {
    font-size: 35px; }
  .footer hr {
    width: 70%;
    border: 0.073vw solid #484848; }
  .footer p {
    font-size: 16px;
    color: #616161; }
  .footer .logo {
    width: 4.124vw;
    height: 4.124vw;
    display: flex;
    justify-content: 'center';
    align-items: 'center';
    margin-left: 2%; }

@media screen and (max-width: 1366px) {
  .footer .social svg {
    font-size: 3.660vw; }
  .footer .backToTop svg {
    font-size: 2.562vw; }
  .footer p {
    font-size: 1.171vw; } }

@media screen and (max-width: 700px) {
  .footer {
    gap: 2.196vh; }
    .footer .social {
      gap: 3.660vh; }
      .footer .social svg {
        font-size: 3.660vh; }
        .footer .social svg:hover {
          transform: translateY(-0.366vh); }
    .footer .backToTop svg {
      font-size: 2.562vh; }
    .footer hr {
      border: 0.073vh solid #484848; }
    .footer p {
      font-size: 1.371vh; }
    .footer .logo {
      width: 4vh;
      height: 4vh; } }

.descriptionExperience {
  font-size: 18px; }

@media screen and (max-width: 1366px) {
  .descriptionExperience {
    font-size: 1.318vw; } }

@media screen and (max-width: 700px) {
  .descriptionExperience {
    font-size: 1.318vh; } }

.App {
  overflow-x: hidden;
  background-color: #363749;
  font-family: 'Fira Code', monospace; }
  .App .background {
    background: url(/src/images/background1.png) center center/cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }

html {
  font-family: 'Fira Code', monospace;
  color: white;
  scroll-behavior: smooth; }
  html a,
  html p {
    font-family: 'Fira Code', monospace; }
  html h1 {
    font-size: 1.830vw; }
  html h5 {
    font-size: 0.952vw; }
