.aboutMe {
    padding-top: 0.5%;

    p {
        font-family: 'Fira Code', monospace;
    }

    .name {
        font-size: 1.830vw;
        font-weight: 500;
        margin: 1%;
        margin-top: 3%;
        width: 6.149vw;
        height: 6.149vw;
    }

    .text {
        font-size: 1.430vw;
        margin: 1% 5% 0 5%;
        text-align: center;
    }

    .myName {
        color: $redButton;
        font-weight: 800;
    }

    // .scroll {
    //     .container_mouse {
    //         padding-top: 15%;
    //     }

    //     // .mouse-btn {
    //     //     margin: 10% auto;
    //     //     width: 20px;
    //     //     height: 40px;
    //     //     border: 3px solid rgba(122, 122, 124, 0.918);
    //     //     border-radius: 20px;
    //     //     display: flex;
    //     // }

    //     // .mouse-scroll {
    //     //     display: block;
    //     //     width: 10px;
    //     //     height: 10px;
    //     //     background: linear-gradient(170deg, rgba(122, 122, 124, 0.918), rgb(123, 124, 124));
    //     //     border-radius: 50%;
    //     //     margin: auto;
    //     //     animation: scrolling13 1s linear infinite;
    //     // }

    //     @keyframes scrolling13 {
    //         0% {
    //             opacity: 0;
    //             transform: translateY(-10px);
    //         }

    //         100% {
    //             opacity: 1;
    //             transform: translateY(10px);
    //         }
    //     }
    // }

    .download {
        margin: 1%;
        width: 30%;

        a {
            text-decoration: none;
            color: #fff;
        }

        button,
        button::after {
            padding: 0.732vw 1.464vw;
            font-size: 1.318vw;
            background: linear-gradient(45deg, transparent 5%, $redButton 5%);
            border: 0;
            letter-spacing: 0.220vw;
            line-height: 1;
            box-shadow: 0.439vw 0px 0px $blueBackground;
            outline: transparent;
            position: relative;
            cursor: pointer;
            font-family: 'Fira Code', monospace;
        }

        button::after {
            --slice-0: inset(50% 50% 50% 50%);
            --slice-1: inset(80% -0.439vw 0 0);
            --slice-2: inset(50% -0.439vw 30% 0);
            --slice-3: inset(10% -0.439vw 85% 0);
            --slice-4: inset(40% -0.439vw 43% 0);
            --slice-5: inset(80% -0.439vw 5% 0);
            content: "HOVER ME";
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(45deg, transparent 3%, $blueBackground 3%, $blueBackground 5%, $redButton 5%);
            text-shadow: -0.220vw -0.220vw 0px $yellow, 0.220vw 0.220vw 0px $blueBackground;
            clip-path: var(--slice-0);
            animation: 2s glitch infinite;
            animation-timing-function: steps(2, end);
        }

        button:hover::after {
            animation: 1s glitch;
            animation-timing-function: steps(2, end);
        }

        @keyframes glitch {
            0% {
                clip-path: var(--slice-1);
                transform: translate(-1.464vw, -0.732vw);
            }

            10% {
                clip-path: var(--slice-3);
                transform: translate(0.732vw, 0.732vw);
            }

            20% {
                clip-path: var(--slice-1);
                transform: translate(-0.732vw, 0.732vw);
            }

            30% {
                clip-path: var(--slice-3);
                transform: translate(0px, 0.366vw);
            }

            40% {
                clip-path: var(--slice-2);
                transform: translate(-0.366vw, 0px);
            }

            50% {
                clip-path: var(--slice-3);
                transform: translate(0.366vw, 0px);
            }

            60% {
                clip-path: var(--slice-4);
                transform: translate(0.366vw, 0.732vw);
            }

            70% {
                clip-path: var(--slice-2);
                transform: translate(-0.732vw, 0.732vw);
            }

            80% {
                clip-path: var(--slice-5);
                transform: translate(1.464vw, -0.732vw);
            }

            90% {
                clip-path: var(--slice-1);
                transform: translate(-0.732vw, 0px);
            }

            100% {
                clip-path: var(--slice-1);
                transform: translate(0);
            }
        }
    }

    .scanner h1 {
        color: transparent;
        font-size: 1.640vw;
        position: relative;
        overflow: hidden;
    }

    .scanner h1::before {
        content: attr(contentCss);
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        border-right: 0.293vw solid white;
        overflow: hidden;
        color: white;
        animation: load91371 3s linear infinite;
    }

    @keyframes load91371 {

        0%,
        10%,
        100% {
            width: 0;
        }

        10%,
        20%,
        30%,
        40%,
        50%,
        60%,
        70%,
        80%,
        90%,
        100% {
            border-right-color: transparent;
        }

        11%,
        21%,
        31%,
        41%,
        51%,
        61%,
        71%,
        81%,
        91% {
            border-right-color: white;
        }

        60%,
        80% {
            width: 100%;
        }
    }

    .card {
        margin-left: 10%;
        width: 14.641vw;
        height: 17.302vw;
        background: $blueBackground;
        border-radius: 0.366vw;
        text-align: center;
        color: #f0f0f0;
        // font-family: inherit;
        font-family: 'Fira Code', monospace;
        z-index: 1;
        padding-top: 0.5%;

        .img {
            display: flex;
            margin: 2.196vw auto 0.732vw auto;
            width: 5.490vw;
            height: 5.490vw;
            border: 0.073vw solid #f0f0f0;
            border-radius: 50%;
            font-size: 0.805vw;
            justify-content: center;
            align-items: center;
            transition: all 0.5s;
            z-index: 99;
            background-color: $blueBackground;
        }

        p {
            opacity: 0;
            transition: all 0.5s;
        }

        h1 {
            padding: 0.366vw;
            font-weight: 500;
            font-size: 1.318vw;
            margin: 0;
        }

        h5 {
            padding: 0;
            margin: 0;
            color: gray;
            font-size: 0.952vw;
        }

        svg {
            padding: 0 0.366vw;
            cursor: pointer;
        }


    }

    .card:hover .img {
        transform: scale(1.1);
        border: 0.073vw solid #f0f0f0;
    }

    .card:hover h1,
    .card:hover p {
        opacity: 1;
    }

    /* From uiverse.io by @mrhyddenn */
    .container {
        // width: 100%;
        // height: 100%;
        font-size: 1.480vw;
        margin: 0 3% 0 3%;

        .terminal_toolbar {
            display: flex;
            height: 2.196vw;
            align-items: center;
            padding: 0 0.586vw;
            box-sizing: border-box;
            border-top-left-radius: 0.366vw;
            border-top-right-radius: 0.366vw;
            background: linear-gradient(#504b45 0%, #3c3b37 100%);
        }

        .butt {
            display: flex;
            align-items: center;
        }

        .btn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin-right: 0.366vw;
            // font-size: 8px;
            height: 0.878vw;
            width: 0.878vw;
            box-sizing: border-box;
            border: none;
            border-radius: 100%;
            background: linear-gradient(#7d7871 0%, #595953 100%);
            text-shadow: 0px 0.073vw 0px rgba(255, 255, 255, 0.2);
            box-shadow: 0px 0px 0.073vw 0px #41403A, 0px 0.073vw 0.073vw 0px #474642;
        }

        .btn-color {
            background: #ee411a;
        }

        .btn:hover {
            cursor: pointer;
        }

        .btn:focus {
            outline: none;
        }

        .butt--exit {
            background: linear-gradient(#f37458 0%, #de4c12 100%);
        }

        .user {
            color: #d5d0ce;
            margin-left: 0.439vw;
            font-size: 1.025vw;
            line-height: 1.098vw;
        }

        .terminal_body {
            background: $blueBackground;
            height: calc(100% - 2.196vw);
            padding-top: 0.146vw;
            margin-top: -0.073vw;
            // font-size: 12px;
            border-bottom-left-radius: 0.366vw;
            border-bottom-right-radius: 0.366vw;
        }

        .terminal_promt {
            display: flex;
        }

        .terminal_promt span {
            margin-left: 0.293vw;
        }

        .terminal_user {
            color: #7eda28;
        }

        .terminal_location {
            color: #4878c0;
        }

        .terminal_bling {
            color: #dddddd;
            padding-right: 1%;
        }

        .terminal_cursor {
            display: block;
            height: 1.430vw;
            width: 0.732vw;
            margin-left: 0.732vw;
            animation: curbl 1200ms linear infinite;
            margin-bottom: 1%;
        }

        @keyframes curbl {

            0% {
                background: #ffffff;
            }

            49% {
                background: #ffffff;
            }

            60% {
                background: transparent;
            }

            99% {
                background: transparent;
            }

            100% {
                background: #ffffff;
            }
        }
    }

    .switch {
        padding: 0% 5% 0 5%;

        /* Switch starts here */
        .rocker {
            display: inline-block;
            position: relative;
            /*
    SIZE OF SWITCH
    ==============
    All sizes are in em - therefore
    changing the font-size here
    will change the size of the switch.
    See .rocker-small below as example.
    */
            font-size: 2.343vw;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            color: #888;
            width: 8.199vw;
            height: 4.100vw;
            overflow: hidden;
            border-bottom: 0.586vw solid #eee;
        }

        .rocker-small {
            font-size: 0.937vw;
            /* Sizes the switch */
            // margin: 1em;
        }

        .rocker::before {
            content: "";
            position: absolute;
            top: 0.586vw;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #999;
            border: 0.586vw solid #eee;
            border-bottom: 0;
        }

        .rocker input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .switch-left,
        .switch-right {
            cursor: pointer;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 2.928vw;
            width: 3.514vw;
            transition: 0.2s;
            user-select: none;
        }

        .switch-left {
            height: 2.811vw;
            width: 3.221vw;
            left: 0.996vw;
            bottom: 0.469vw;
            background-color: #ddd;
            transform: rotate(15deg) skewX(15deg);
        }

        .switch-right {
            right: 0.586vw;
            bottom: 0;
            background-color: rgb(205, 13, 45);
            color: rgb(254, 203, 0);
        }

        .switch-left::before,
        .switch-right::before {
            content: "";
            position: absolute;
            width: 0.469vw;
            height: 2.870vw;
            bottom: -0.527vw;
            background-color: #ccc;
            transform: skewY(-65deg);
        }

        .switch-left::before {
            left: -0.469vw;
        }

        .switch-right::before {
            right: -0.439vw;
            background-color: transparent;
            transform: skewY(65deg);
        }

        input:checked+.switch-left {
            background-color: rgb(11, 76, 130);
            color: rgb(255, 111, 128);
            bottom: 0px;
            left: 0.586vw;
            height: 2.928vw;
            width: 3.514vw;
            transform: rotate(0deg) skewX(0deg);
        }

        input:checked+.switch-left::before {
            background-color: transparent;
            width: 3.611vw;
        }

        input:checked+.switch-left+.switch-right {
            background-color: #ddd;
            color: #888;
            bottom: 0.469vw;
            right: 0.937vw;
            height: 2.811vw;
            width: 3.221vw;
            transform: rotate(-15deg) skewX(-15deg);
        }

        input:checked+.switch-left+.switch-right::before {
            background-color: #ccc;
        }

        /* Keyboard Users */
        input:focus+.switch-left {
            color: #333;
        }

        input:checked:focus+.switch-left {
            color: rgb(255, 111, 128);
        }

        input:focus+.switch-left+.switch-right {
            color: rgb(254, 203, 0);
        }

        input:checked:focus+.switch-left+.switch-right {
            color: #333;
        }
    }

}

@media screen and (max-width:700px) {
    .aboutMe {
        .cardAndContainer{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10%;
        }
        .name {
            font-size: 1.830vh;
            width: 6.149vh;
            height: 6.149vh;
        }
    
        .text {
            font-size: 1.430vh;
        }
    
        .download {
            button,
            button::after {
                margin-bottom: 10%;
                padding: 0.732vh 1.464vh;
                font-size: 1.318vh;
                letter-spacing: 0.220vh;
                box-shadow: 0.439vh 0px 0px $blueBackground;
            }
    
            button::after {
                --slice-0: inset(50% 50% 50% 50%);
                --slice-1: inset(80% -0.439vh 0 0);
                --slice-2: inset(50% -0.439vh 30% 0);
                --slice-3: inset(10% -0.439vh 85% 0);
                --slice-4: inset(40% -0.439vh 43% 0);
                --slice-5: inset(80% -0.439vh 5% 0);
                text-shadow: -0.220vh -0.220vh 0px $yellow, 0.220vh 0.220vh 0px $blueBackground;
            }
    
            @keyframes glitch {
                0% {
                    transform: translate(-1.464vh, -0.732vh);
                }
    
                10% {
                    transform: translate(0.732vh, 0.732vh);
                }
    
                20% {
                    transform: translate(-0.732vh, 0.732vh);
                }
    
                30% {
                    transform: translate(0px, 0.366vh);
                }
    
                40% {
                    transform: translate(-0.366vh, 0px);
                }
    
                50% {
                    transform: translate(0.366vh, 0px);
                }
    
                60% {
                    transform: translate(0.366vh, 0.732vh);
                }
    
                70% {
                    transform: translate(-0.732vh, 0.732vh);
                }
    
                80% {
                    transform: translate(1.464vh, -0.732vh);
                }
    
                90% {
                    transform: translate(-0.732vh, 0px);
                }
    
                100% {
                    transform: translate(0);
                }
            }
        }
    
        .scanner h1 {
            font-size: 1.640vh;
        }
    
        .scanner h1::before {
            border-right: 0.293vh solid white;
        }
    
        .card {
            width: 14.641vh;
            height: 17.302vh;
            border-radius: 0.366vh;
    
            .img {
                margin: 2.196vh auto 0.732vh auto;
                width: 5.490vh;
                height: 5.490vh;
                border: 0.073vh solid #f0f0f0;
                font-size: 0.805vh;
            }
    
            h1 {
                padding: 0.366vh;
                font-size: 1.318vh;
            }
    
            h5 {
                font-size: 0.952vh;
            }
    
            svg {
                padding: 0 0.366vh;
            }
    
    
        }
    
        .card:hover .img {
            border: 0.073vh solid #f0f0f0;
        }

        .containerFather{
            max-width: 95%;
        }
    
        /* From uiverse.io by @mrhyddenn */
        .container {
            margin: 3% 0 3% 0;
            font-size: 1.480vh;
    
            .terminal_toolbar {
                height: 2.196vh;
                padding: 0 0.586vh;
                border-top-left-radius: 0.366vh;
                border-top-right-radius: 0.366vh;
            }
    
            .btn {
                margin-right: 0.366vh;
                height: 0.878vh;
                width: 0.878vh;
                text-shadow: 0px 0.073vh 0px rgba(255, 255, 255, 0.2);
                box-shadow: 0px 0px 0.073vh 0px #41403A, 0px 0.073vh 0.073vh 0px #474642;
            }
    
            .user {
                margin-left: 0.439vh;
                font-size: 1.025vh;
                line-height: 1.098vh;
            }
    
            .terminal_body {
                height: calc(100% - 2.196vh);
                padding-top: 0.146vh;
                margin-top: -0.073vh;
                border-bottom-left-radius: 0.366vh;
                border-bottom-right-radius: 0.366vh;
            }
    
            .terminal_promt span {
                margin-left: 0.293vh;
            }
    
            .terminal_cursor {
                height: 1.430vh;
                width: 0.732vh;
                margin-left: 0.732vh;
            }
        }
    
        .switch {
    
            .rocker {
                font-size: 2.343vh;
                width: 8.199vh;
                height: 4.100vh;
                border-bottom: 0.586vh solid #eee;
            }
    
            .rocker-small {
                font-size: 0.937vh;
            }
    
            .rocker::before {
                top: 0.586vh;
                border: 0.586vh solid #eee;
            }
    
            .switch-left,
            .switch-right {
                height: 2.928vh;
                width: 3.514vh;
            }
    
            .switch-left {
                height: 2.811vh;
                width: 3.221vh;
                left: 0.996vh;
                bottom: 0.469vh;
            }
    
            .switch-right {
                right: 0.586vh;
            }
    
            .switch-left::before,
            .switch-right::before {
                width: 0.469vh;
                height: 2.870vh;
                bottom: -0.527vh;
            }
    
            .switch-left::before {
                left: -0.469vh;
            }
    
            .switch-right::before {
                right: -0.439vh;
            }
    
            input:checked+.switch-left {
                left: 0.586vh;
                height: 2.928vh;
                width: 3.514vh;
            }
    
            input:checked+.switch-left::before {
                width: 3.611vh;
            }
    
            input:checked+.switch-left+.switch-right {
                bottom: 0.469vh;
                right: 0.937vh;
                height: 2.811vh;
                width: 3.221vh;
            }
        }
    
    }
}